@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  scroll-behavior: smooth;
}
body{
    background-color: #ebebeb;
    margin: 0;
    background: url("images/dot-bg.svg") rgba(204, 204, 204, 0.3);
    background-repeat: repeat;
    background-size: 10%;
    background-blend-mode:multiply;
    padding: 0;
    font-family: poppins;
}
.Box{
    margin: 60px;
    margin-top: 30px;
    background-color: #ffffff;
    align-content: center;
    height:100vh;
}
.bg-line{
    opacity: 0.08;
    width: 100%;
    height:105%;    
}
.logo img{
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
}
.logo{
    padding: 10px;
}
.logo,.profile,.logout{
    display: inline;
}
.Navbar{
    height: 60px;
    background-color: #e6e6e6;
}

.logout-btn{
    /* border: 2px solid #3366cc; */
    text-decoration: none;
    font-weight: 600;
    background-color: #3f7fff;
    color: #ffffff;
    margin: 13px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;;
    border-radius: 8px;
    margin-right: 30px;
    text-align: center;
    float: right;
}
.logout-btn:hover{
    background-color: #3366cc;
    transition: 1s;
}
.profile{
    margin: 13px;
    padding: 5px;
    border-radius: 50%;
    margin-right: 30px;
    text-align: center;
    float: right;
}
.profile :hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #9e9e9e;
}

.card1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    flex-grow: 1;
    padding: 10px;
    width: 240px;
    background-color: #ff9d26;
    height: 100px;
    top: 50%;
      left: 20%;
      transform: translate(-50%, -50%);
      display: flex;
}
.card2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    flex-grow: 1;
    background-color: rgba(128, 128, 128, 0.729);
    padding: 10px;
    width: 260px;
    height: 100px;
    top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      display: flex;
}
.card3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    flex-grow: 1;
    padding: 10px;
    width: 240px;
    background-color: lightblue;
    height: 100px;
    top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
      display: flex;
}
.card4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    flex-grow: 1;
    padding: 10px;
    width: 240px;
    height: 100px;
    background-color: #12ad2c95;
    top: 50%;
      left: 80%;
      transform: translate(-50%, -50%);
      display: flex;
}
.card5{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    flex-grow: 1;
    padding: 10px;
    width: 240px;
    height: 100px;
    background-color: lavender;
    top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
}

.hero{
    display: flex;
}
.card img{
    float: left;
}
.text{
    flex-grow: 1;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 30px;
}
.title{
    position: absolute;
    color: #3366cc;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
}









  /* footer */
  footer {
    position: absolute;
    bottom: -350px;
    margin: 60px;
  }
  .site-footer
{
  background-color:#26272b;
  padding: 45px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}





.copyright-text
{
  margin:0;
  justify-content: center;
  text-align: center;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}






