@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  scroll-behavior: smooth;
}
body{
    background-color: #ebebeb;
    margin: 0;
    background: url("images/dot-bg.svg") rgba(204, 204, 204, 0.3) no-repeat;
    background-size: 10%;
    background-blend-mode:multiply;
    padding: 0;
    font-family: poppins;
}
.Box{
    margin: 60px;
    margin-top: 30px;
    background-color: #ffffff;
    background: url("images/flat-mountains.svg");
    align-content: center;
    height:100vh;
}
.logo img{
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
}
.logo{
    padding: 10px;
}
.logo,.login-btn{
    display: inline;
}
.Navbar{
    height: 60px;
    background-color: #e6e6e6;
}
.login-btn{
    margin: 10px;
    margin-right: 30px;
    text-align: center;
    float: right;
}
.login-btn :hover{
    background-color: #3d3d3d;
    transition: 1s ;
}
.login-btn1 a{
    font-size: 20px;
    text-decoration: none;
    display: block;
    width: 100px;
    padding: 7px;
    height: 25px;
    background: #0286eb;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
.login-btn a{
    font-size: 20px;
    text-decoration: none;
    display: block;
    width: 100px;
    padding: 7px;
    height: 25px;
    background: #828282;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
.text {
    padding-left: 50px;
    margin-top: 200px;
  }
  .text p {
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    overflow: hidden;
  }
  .text p span.typed {
    font-weight: normal;
    color: #0073b1;
  }
  .text p span.cursor {
    display: inline-block;
    background-color: rgb(23, 23, 23);
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .text p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: rgb(23, 23, 23); }
    49% { background-color: rgb(23, 23, 23); }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: rgb(23, 23, 23); }
  }

  /* footer */
  footer {
    position: absolute;
    bottom: -350px;
    margin: 60px;
  }
  .site-footer
{
  background-color:#26272b;
  padding: 45px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}





.copyright-text
{
  margin:0;
  justify-content: center;
  text-align: center;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}






